*.pdf
*.zip
*.tx
*.O
.pcapng
core
html/
latex/
rtf/
*.x
*.t
*~
*.swp
*.swo
test
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vim
.vscode/
find
.
-size
+3M
./dndd2.db
./.git/objects/93/094482f64697a706c25cc3540292d3e17cf3d1
./.git/objects/pack/pack-2eec791859dcea9d5820f10db3adf5ff70915d77.pack
./dndd2.db
./.git/objects/93/094482f64697a706c25cc3540292d3e17cf3d1
./.git/objects/pack/pack-2eec791859dcea9d5820f10db3adf5ff70915d77.pack
./dndd2.db
./.git/objects/93/094482f64697a706c25cc3540292d3e17cf3d1
./.git/objects/pack/pack-2eec791859dcea9d5820f10db3adf5ff70915d77.pack
